{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        <h2>Create Your Resume</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }} {{ form.name(class="input") }}
            </div>
            <div class="form-group">
                {{ form.email.label }} {{ form.email(class="input") }}
            </div>
            <div class="form-group">
                {{ form.phone.label }} {{ form.phone(class="input") }}
            </div>
            <div class="form-group">
                {{ form.objective.label }} {{ form.objective(class="textarea") }}
            </div>
            <div class="form-group">
                {{ form.education.label }} {{ form.education(class="textarea") }}
            </div>
            <div class="form-group">
                {{ form.experience.label }} {{ form.experience(class="textarea") }}
            </div>
            <div class="form-group">
                {{ form.skills.label }} {{ form.skills(class="textarea") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="button") }}
            </div>
        </form>
    </div>
{% endblock %}
